<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto" list="resoults"/>
							  <datalist id="resoults"></datalist>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>			
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country%> (<%= stranka.StRacunov %>)
							</option>
							<%  }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) {  %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(document).ready(function () {
		var getJSON = function(url, callback) {
    	var xhr = new XMLHttpRequest();
    	xhr.open('GET', url, true);
    	xhr.responseType = 'json';
    	xhr.onload = function() {
    		var status = xhr.status;
    		if (status === 200) {
        		callback(null, xhr.response);
    		} 
    		else {
        		callback(status, xhr.response);
    		}
    	};
    	xhr.send();
		};
		
		
		
		$( function() {
		getJSON('https://api.lavbic.net/kraji', function(err, data) {
			/*listPodatkov = [];
			for(var i=0; i < data.length; i++){
				listPodatkov += data[i].kraj;
			}
			console.log(listPodatkov);
		*/
		var targetInput = document.getElementById("City"),
			rezultat = document.getElementById("resoults"),
			matches = [];
			resultMove = 0;
			
		//targetInput.focus();
		
		targetInput.addEventListener("keyup", function(event){
			rezultat.innerHTML = "";
			toggleResoults("hide");
			
			if(this.value.length > 0){
				matches = getMatches(this.value);
				
			/*	if(matches.length > 0){
					displayMatches(matches);
				}*/
			}
		});
		
		function toggleResoults(action){
			if(action == "show"){
				rezultat.classList.add("visible");
			}
			else if(action == "hide"){
				rezultat.classList.remove("visible");
			}
		}
		function getMatches(inputText){
			var podatki = data;
			for(var i=0; i < (data.length)-1; i++){
				var matchList = document.getElementById("resoults");
				var option = document.createElement("option");
				if(data[i].kraj.toLowerCase().indexOf(inputText.toLowerCase()) != -1){
					option.value = data[i].kraj;
					matchList.appendChild(option);
				}
				toggleResoults("show");
			}
		}
		//var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		
		document.getElementById("City").addEventListener("keyup", function () {
			 var mesto = document.getElementById("City").value;
				if (this.value.length == 0) {
					document.getElementById("PostalCode").value = "";
					document.getElementById("Country").value = "";
					document.getElementById("Register").disabled = true;
				}
				else{
					var posta = 0;
					for(var i=0; i<data.length-1; i++){
						if(mesto.localeCompare(data[i].kraj)==0){
							posta = data[i].postnaStevilka;
							document.getElementById("PostalCode").value = posta;
							document.getElementById("Country").value = "Slovenija";
							
						}
						if(document.getElementById("Country").value == "Slovenija" && document.getElementById("EmailValidate").className == "glyphicon glyphicon-ok"){
								document.getElementById("Register").disabled = false;
							}
							else{
								document.getElementById("Register").disabled = true;
							}
					}
				}
		});
		});
		});
		
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		var email = document.getElementById("Email");
		document.getElementById("Email").addEventListener("keyup", function () {
			if(emailRegex.test(email.value) && email.value!=null) {
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-ok"; 
				
			}
			else{
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-remove";
				document.getElementById("Register").disabled = true;
			}
			if(document.getElementById("Country").value == "Slovenija" && document.getElementById("EmailValidate").className == "glyphicon glyphicon-ok"){
					document.getElementById("Register").disabled = false;
				}
				else{
					document.getElementById("Register").disabled = true;
				}
		});
		document.getElementById("seznamStrank").addEventListener("click", function(racuni, stranka){
			var oseba = document.getElementById("seznamStrank").value;
			//var racun = document.getElementById("seznamRacunov");
				//var Id = seznamRacunov[5].getAttribute("customerid");
				//console.log(Id);
				for(var i=0; i<seznamRacunov.length; i++){
					var Id = seznamRacunov[i].getAttribute("customerid");
					var racun = seznamRacunov[i];
					racun.className = "";
					if(oseba == Id){
						racun.className = "racun-stranke";
						
					}
				}
		//	})
			});
	});

</script>
</body>
</html>